.header {
  z-index: 99;
  background-color: rgba(246, 253, 255, 0.945);
  position: absolute;
  position: fixed;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 20px 8%;
}

@media(width < 750px) {

  header{
    grid-template-columns: 1fr 1fr;
  }
  .logo{
    display: none !important;
  }
}
