.sectionOne{
  background-color: rgb(246, 253, 255);
}

.sectionTwo{
  min-height: 40vh;
  background: linear-gradient(45deg, rgb(255, 255, 255),rgba(0, 199, 133, 0.096)  );
}

.sectionThree{
  background: linear-gradient(45deg, rgba(0, 199, 133, 0.137),rgb(255, 255, 255)  );
  min-height: 80vh;
}

.sectionFourt{
  background: linear-gradient(45deg, rgb(255, 255, 255),rgba(0, 199, 133, 0.062)  );

  width: 100%;
  min-height: 60vh;
}

.sectionFourt p{
  max-width: 350px;
}

.deco{
    position: absolute;
    top: 62%;
    left: 62%;
    width: 24rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(0, 199, 133), rgb(0, 78, 129));
    filter: blur(80px);
   
}


@media (width < 800px){
  h1{
    font-size: 2rem !important;
  }
}

@media (width < 1020px){

  .sectionOne article{
    width: 100%;
  }
   .sectionOne .phones, .deco{
     display: none;
   }
}